table {
  border-collapse: collapse;
}

table,
td {
  border: 2px solid black;
}

td {
  width: 150px;
  height: 150px;
  text-align: center;
  background-color: #51b2b2;
  font-size: 4rem;
  color: white;
}
